article {
    margin-right: 16px;
    padding: 8px;
    border: 1px solid #ccc;

    .button {
        outline: none;
        background-color: orange;
        border-radius: 4px;
        padding: 8px;
        border: none;
    }
}